@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}

.video-title {
  color: #fff;
}

.like-button {
  transition: background-color 0.3s ease;
}

.like-button:hover {
  cursor: pointer;
}

.bg-red-500 {
  background-color: #f56565;
}

.bg-gray-500 {
  background-color: #718096;
}